<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yshyerp.receivables.mapper.vw_amountMapper" >
  <resultMap id="BaseResultMap" type="com.yshyerp.receivables.entity.vw_amount" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="amountno" property="amountno" jdbcType="CHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="customer" property="customer" jdbcType="CHAR" />
    <result column="billid" property="billid" jdbcType="INTEGER" />
    <result column="serviceid" property="serviceid" jdbcType="CHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="CHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Unit" property="unit" jdbcType="CHAR" />
    <result column="price" property="price" jdbcType="NUMERIC" />
    <result column="contract_i" property="contractI" jdbcType="CHAR" />
    <result column="taxrate" property="taxrate" jdbcType="NUMERIC" />
    <result column="istax" property="istax" jdbcType="BIT" />
    <result column="en_date" property="enDate" jdbcType="DATE" />
    <result column="State" property="state" jdbcType="INTEGER" />
  </resultMap>
  <select id="getVwamount" resultMap="BaseResultMap">

  </select>
  <select id="getVwamountById" resultMap="BaseResultMap"></select>
    <select id="getbyName" resultType="java.lang.String">
       select Unit from Service where Name=#{name}
    </select>
  <select id="getBycontracti" resultType="java.lang.String">
     SELECT  en_date   from contract where contract_i=#{contracti}
  </select>
  <select id="query" resultType="com.yshyerp.receivables.response.dto.DropDownBoxDTO">
       SELECT customer as[value], customer as [key] FROM customer  order by order1 desc,customer
  </select>
  <select id="queryname" resultType="com.yshyerp.receivables.response.dto.DropDownBoxDTO">
         select serviceid as[key] ,  name as [value]  from service  order by serviceid,name
  </select>
  <select id="querycontracti" resultType="com.yshyerp.receivables.response.dto.DropDownBoxDTO">
 select  id as[key],  contract_i as[value] from contract   order by id,contract_i
  </select>

</mapper>